body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: rgb(42,61,77);
    background: linear-gradient(0deg, rgba(42,61,77,1) 0%, rgba(58,114,186,1) 100%);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh
}

.interface{
    text-align: center;
}

.btn-meu{
    height: 40px;
    width: 150px;
    position: relative;
    top: 200px;
    cursor: pointer;
    border: none;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.btn-meu:hover{
    background: rgb(63,94,251);
background: radial-gradient(circle, rgba(63,94,251,1) 10%, rgba(70,230,252,1) 100%);
}

.p1{
    margin-top: 210px;
    text-align: center;
    position: relative;
}

.p2{
    margin-top: 10px;
    text-align: center;
    position: relative;
}

.p3{
    margin-top: 10px;
    text-align: center;
    position: relative;
}

.h1-1{
    text-align: center;
    background: rgb(42,61,77);
background: linear-gradient(0deg, rgba(42,61,77,1) 0%, rgba(12,57,115,1) 100%);-webkit-background-clip: text;
  color: transparent;
  text-shadow: 
  0px 4px 6px rgba(0, 0, 0, 0.12),
  0px 12px 13px rgba(0, 0, 0, 0.17),
  0px -3px 5px rgba(0, 0, 0, 0.09);
}

#frase {
    font-size: 29px;
    color: #333;
    position: relative;
  top: 90px;
}

.a-1{background: linear-gradient(0deg, rgba(42,61,77,1) 0%, rgba(12,57,115,1) 100%);-webkit-background-clip: text;
  color: transparent;
  text-shadow: 
  0px 4px 6px rgba(0, 0, 0, 0.12),
  0px 12px 13px rgba(0, 0, 0, 0.17),
  0px -3px 5px rgba(0, 0, 0, 0.09);
}
ul {
    list-style-type: none; /* Remove os marcadores (bolinhas) */
    margin: 0; /* Remove margens padrões */
    padding: 0; /* Remove preenchimento padrão */
}